doctype 5
html
  head
    block title
    block stylesheet
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block javascript
      script(src='/javascripts/jquery.js')